{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'css/propriedades/menu.css' %}">
{% block head %}
<title>{% block title %}{% endblock%} | Porta</title>
{% endblock %}
<script>
    function redirectTo(url) {
        window.location.href = url;
    }
</script>
</head>
<body>
    <div class="logo">
        <img src="{% static 'css/propriedades/assets/portaLogo.png' %}" alt="Porta Logo" width="100" height="100" />
      </div>
     
      <aside class="menu">
        <ul class="menu-items">
            <li><base-button class="base-button" onclick="redirectTo('/home')">Inicio</base-button></li>
            <li><base-button class="base-button" onclick="redirectTo('/contruction')">Avalúos</base-button></li>
            <li><base-button class="base-button" onclick="redirectTo('/propriety')">Bienes Raíces</base-button></li>
            <li><base-button class="base-button" onclick="redirectTo('/contruction')">Créditos Hipotecarios</base-button></li>
            <li><base-button class="base-button" onclick="redirectTo('/contruction')">Construcciones</base-button></li>
            <li><base-button class="base-button" onclick="redirectTo('/contruction')">Marketing</base-button></li>
            <li><base-button class="base-button" onclick="redirectTo('/contruction')">Jurídico/Legal</base-button></li>
            <li><base-button class="base-button" onclick="redirectTo('/contruction')">Inversiones</base-button></li>
            <li><base-button class="base-button" onclick="redirectTo('/contruction')">Intranet</base-button></li>
            <li><base-button class="base-button" onclick="redirectTo('/contruction')">Administración</base-button></li>
            <li v-if="isLoggedIn"><base-button class="base-button" onclick="redirectTo('/login')">Cerrar sesión</base-button></li>
        </ul>
      </aside>
      
      {% block content %}
      
      {% endblock %}
</body>
</html>
