{% extends "baseDjango.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>Inicio | Porta</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/propriedades/menu.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="content">
        <div class="user-info">
          <h1 class="texto-bienvenida">Bienvenido a</h1>
          <h1 class="nombre-usuario">Inmobiliaria Porta</h1>
          <div>
            <span>Iniciaste sesión como: </span>
            <span style="font-weight: bold">Administrador</span>
        </div>
    </div>

    {% endblock %}
</body>
</html>