{% extends 'baseDjango.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <title>Propiedades | Porta</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/propriedades/proprietyView.css' %}">
  {% endblock %}
</head>
<body>
{% block content %}
  <div class="content">
    <select name="Propiedades" id="propiedades">
      <option value="Todas">All</option>
      <option value="Terrenos">Terrenos</option>
      <option value="Comerciales">Comerciales</option>
      <option value="Viviendas">Viviendas</option>
    </select>

    <p><button onclick="redirectTo('/proprietyCreate')" class="button-create">Agregar propiedad</button></p>
  </div>

  <!-- Aquí se muestran las cards de las propiedades -->
  
  <div class="property-cards">
    {% for vivienda in viviendas %}
    <!-- Card 1: Cozy Apartment -->
    <div class="card">
      <div class="property-info">
        
        <h3>{{ vivienda.titulo}}</h3>
        <p>Precio: ${{ vivienda.precioVenta }}</p>

      </div>
      <div class="property-image">
        <img src="{{ vivienda.imagen }}" alt="Cozy Apartment">
      </div>
      <div class="property-button">
        <button onclick="redirectTo('/propriety/{{ vivienda.id }}')" class="view-property-button">Ver propiedad</button>
      </div>
    </div>
    {% endfor %}
  
    
  </div>
  
{% endblock %}
</body>
</html>